.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 100%;
    height: calc(100% - 10vh);
    /* object-fit: cover;  */
    /* transition: .5s; */
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }

  .head-txt {
    position: absolute;
    top: 17px;
    left: 50px;
}
  #txt {
    display: none;
  }

  form {
    display:none;
  }

  #txt {
    position: absolute;
    bottom: 250px;
    right: 700px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* .cpnnum {
    background-color: black;
    color: white;
    font-size: 10px;
  } */

  #cpn {
    display: none;
    position: absolute;
    bottom: 300px;
    left: 975px;
    background-color: black;
    color: white;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }


 
    /* .container {
        width: 70%;
        margin: auto;
        text-align: center;
    } */
    #dicegame {
      position: absolute;
      display: none;
      top: 50px;
      right: 370px;
      
    }
    .dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
    }

    /* body {
        background-color: #042f4b;
        margin: 0;
    } */

    /* #rollll {
        margin: 30px;
        font-family: "Lobster", cursive;
        text-shadow: 5px 0 #232931;
        font-size: 4.5rem;
        color: #4ecca3;
        text-align: center;
    } */

    /* p {
        font-size: 2rem;
        color: #4ecca3;
        font-family: "Indie Flower", cursive;
    } */

    .img1 {
        width: 170px;
        background-color: white;
    }

    /* .bottom {
        padding-top: 30px;
    } */

    .butn {
        height: 10%;
        background: #4ecca3;
        font-family: "Indie Flower", cursive;
        border-radius: 7px;
        color: #ffff;
        font-size: 15px;
        padding: 16px 25px 16px 25px;
        text-decoration: none;
    }

    .butn:hover {
        background: #232931;
        text-decoration: none;
    }
